

li {
    list-style-type: none;
    display: inline;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

@media (min-width: 800px) {

}

header {
    display: flex;
}

section {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.searchbar {
    display: block;
    margin: auto;
}

.google-search {
    margin-top: 10px;
}

footer {
    display: flex;
}